In [2]:
import pandas as pd

In [3]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 

tripdata_df = pd.read_csv('Resources/201908-citibike-tripdata.csv')

In [4]:
# 2. Check the datatypes of your columns. 

tripdata_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [9]:
# 3. Convert the 'tripduration' column to datetime datatype.

tripdata_df['tripduration_dt']=pd.to_datetime(tripdata_df['tripduration'], unit='s', errors='ignore')
tripdata_df.sample(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,tripduration_df,tripduration_dt
1830404,181,2019-08-25 10:18:29.9790,2019-08-25 10:21:31.9270,3175.0,W 70 St & Amsterdam Ave,40.777480,-73.982886,3167.0,Amsterdam Ave & W 73 St,40.779668,-73.980930,39011,Subscriber,1961,2,1970-01-01 00:03:01,1970-01-01 00:03:01
1796307,2430,2019-08-24 17:01:56.5260,2019-08-24 17:42:27.1240,405.0,Washington St & Gansevoort St,40.739323,-74.008119,3162.0,W 78 St & Broadway,40.783400,-73.980931,39180,Customer,1998,2,1970-01-01 00:40:30,1970-01-01 00:40:30
26576,845,2019-08-01 11:28:35.0170,2019-08-01 11:42:40.4580,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,3521.0,Lenox Ave & W 111 St,40.798786,-73.952300,33170,Subscriber,1962,1,1970-01-01 00:14:05,1970-01-01 00:14:05
1593476,406,2019-08-21 18:57:32.7460,2019-08-21 19:04:19.5300,505.0,6 Ave & W 33 St,40.749013,-73.988484,3687.0,E 33 St & 1 Ave,40.743227,-73.974498,29364,Subscriber,1992,1,1970-01-01 00:06:46,1970-01-01 00:06:46
712562,545,2019-08-10 11:34:32.6880,2019-08-10 11:43:38.4410,254.0,W 11 St & 6 Ave,40.735324,-73.998004,491.0,E 24 St & Park Ave S,40.740964,-73.986022,38202,Subscriber,1988,1,1970-01-01 00:09:05,1970-01-01 00:09:05

In [10]:
# 4. Check the datatypes of your columns. 

tripdata_df.dtypes

tripduration                        int64
starttime                          object
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
tripduration_df            datetime64[ns]
tripduration_dt            datetime64[ns]
dtype: object

In [11]:
#new column order 

new_column_order= ["tripduration_dt", "starttime", "stoptime", "start station id", "start station name", "start station latitude", "start station longitude", "end station id", "end station name", "end station latitude", "end station longitude", "bikeid", "usertype", "birth year", "gender", "tripduration"]
tripdata_df = tripdata_df[new_column_order]
tripdata_df.head()

,tripduration_dt,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,tripduration
0,1970-01-01 00:06:33,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2,393
1,1970-01-01 00:10:27,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2,627
2,1970-01-01 00:18:52,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1,1132
3,1970-01-01 00:29:40,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1,1780
4,1970-01-01 00:25:17,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2,1517

In [12]:
# 5. Export the Dataframe as a new CSV file without the index.

tripdata_df.to_csv('Resources/201908-citibike-tripdata_dt.csv', index=False)